<div class="container">
    <h2 style="margin-top:25px;">Добавте комментарий</h2>
    <form id="my_form" method="post" action="">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="last_name">Фамилия</label>
                    <input type="text" class="form-control" id="last_name" name="last_name">
                    <div class="invalid-feedback" id="help_last_name">Некорректный ввод</div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="first_name">Имя</label>
                    <input type="text" class="form-control" id="first_name" name="first_name">
                    <div class="invalid-feedback" id="help_first_name">Некорректный ввод</div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="middle_name">Отчество</label>
                    <input type="text" class="form-control" id="middle_name">
                    <div class="invalid-feedback" id="help_middle_name">Некорректный ввод</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="last_name">E-Mail</label>
                    <input type="email" class="form-control" id="email">
                    <div class="invalid-feedback" id="help_email">Некорректный ввод</div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="phone">Телефон</label>
                    <input type="text" class="form-control" id="phone">
                    <div class="invalid-feedback" id="help_phone">Некорректный ввод</div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="region" style="margin-bottom: 3px;">Регион</label>
                    <select class="custom-select my-1 mr-sm-2" id="region">
                        <option value="0" selected>Выберите</option>
                        {% for region in regions %}
                        <option value="{{ region.id }}">{{ region.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="city" style="margin-bottom: 3px;">Город</label>
                    <select class="custom-select my-1 mr-sm-2" id="city" disabled="disabled">
                        <option value="0" selected>Выберите</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="commentary">Ваш комментарий:</label>
            <textarea class="form-control" id="commentary" rows="3"></textarea>
        </div>
        <div style="text-align:center;">
            <button type="submit" id="send_comment" class="btn btn-primary">Отправить</button>
            {% if DEBUG %}
            <button type="submit" class="btn btn-primary">Отправить DEBUG POST</button>
            {% endif %}
        </div>
    </form>
    <div class="finish" id="finish">
        <h3>Ваш комментарий был добавлен! Спасибо!</h3>
        <p>
            <a href="" class="btn btn-primary">Добавить еще комментарий</a>
        </p>
    </div>
    <div class="finish" id="process">
        <h3>Ваш запрос обрабатывается!</h3>
    </div>
</div>
<script>
    function input_validation(val, regex, is_null) {
        if(val.length === 0 && is_null === true) return true;
        if(regex.exec(val) !== null) return true;
    }

    var city_obj = document.getElementById("city");
    var region_obj = document.getElementById("region");
    var is_run = false;
    send_comment.onclick = function () {
        if (!is_run) {
            is_run = true;
            if (!document.getElementById('last_name').value) {
                document.getElementById("last_name").className += " is-invalid";
                is_run = false;
                return false;
            } else document.getElementById("last_name").classList.remove("is-invalid");

            if (!document.getElementById('first_name').value) {
                document.getElementById("first_name").className += " is-invalid";
                is_run = false;
                return false;
            } else document.getElementById("first_name").classList.remove("is-invalid");

            if (!input_validation(document.getElementById('email').value, /^[-._a-z0-9]+@(?:[a-z0-9][-a-z0-9]+\.)+[a-z]{2,6}$/g, true)) {
                document.getElementById("email").className += " is-invalid";
                is_run = false;
                return false;
            } else document.getElementById("email").classList.remove("is-invalid");

            if (!input_validation(document.getElementById('phone').value, /([0-9])/g, true)) {
                document.getElementById("phone").className += " is-invalid";
                is_run = false;
                return false;
            } else document.getElementById("phone").classList.remove("is-invalid");

            if (!document.getElementById('commentary').value) {
                document.getElementById('commentary').className += " is-invalid";
                is_run = false;
                return false;
            } else document.getElementById('commentary').classList.remove("is-invalid");


            var data = {
                'last_name': document.getElementById('last_name').value,
                'first_name': document.getElementById('first_name').value,
                'middle_name': document.getElementById('middle_name').value,
                'email': document.getElementById('email').value,
                'phone': document.getElementById('phone').value,
                'text': document.getElementById('commentary').value,
                'region': document.getElementById('region').value,
                'city': document.getElementById('city').value
            };

            document.getElementById("my_form").style.display = 'none';
            document.getElementById("process").style.display = 'block';
            var http = new XMLHttpRequest();
            http.open("POST", "/comment/", true);
            http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            http.onreadystatechange = function () {
                if (http.readyState == 4 && http.status == 200) {
                    var server_data = JSON.parse(http.responseText);
                    if(server_data === 'ok'){
                        document.getElementById("process").style.display = 'none';
                        document.getElementById("finish").style.display = 'block';
                    }
                    if(server_data === 'error'){
                        document.getElementById("process").style.display = 'none';
                        document.getElementById("my_form").style.display = 'block';
                    }
                    is_run = false;
                }
            };
            http.send(serialize(data));
        }
        return false;
    };
    region.onchange = function(){
        region_obj.setAttribute("disabled", "disabled");
        var http = new XMLHttpRequest();
            http.open("POST", "/comment/drop/", true);
            http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            http.onreadystatechange = function () {
                if (http.readyState == 4 && http.status == 200) {
                    var data = JSON.parse(http.responseText);
                    var result = '<option value="0" selected>Выберите</option>';
                    if(data == 'none'){
                        city_obj.innerHTML = result;
                        city_obj.setAttribute("disabled", "disabled");
                        return false;
                    }
                    for(var i=0; i<data.length; i++){
                        result += '<option value="' + data[i]['id'] + '">' + data[i]['name'] + '</option>';
                    }
                    city_obj.innerHTML = result;
                    city_obj.removeAttribute("disabled");
                    region_obj.removeAttribute("disabled");
                }
            };
            http.send(serialize({
                'drop': document.getElementById('region').value
            }));

            city_obj.innerHTML = '<option value="0" selected>Выберите</option>';
            city_obj.setAttribute("disabled", "disabled");
    };

</script>