<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">TEST Tander</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item{% if home %} active{% endif %}">
                <a class="nav-link" href="/">Главная</a>
            </li>
            <li class="nav-item{% if add %} active{% endif %}">
                <a class="nav-link" href="/comment/">Добавить</a>
            </li>
            <li class="nav-item{% if view %} active{% endif %}">
                <a class="nav-link" href="/view/">Модерирование</a>
            </li>
            <li class="nav-item{% if stat %} active{% endif %}">
                <a class="nav-link" href="/stat/">Статистика</a>
            </li>
        </ul>
    </div>
</nav>