<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'header.html' %}
</head>
<body>
{% include 'blocks/navbar.html' %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Фамилия</th>
        <th scope="col">Имя</th>
        <th scope="col">Отчество</th>
        <th scope="col">E-Mail</th>
        <th scope="col">Телефон</th>
        <th scope="col">Регион</th>
        <th scope="col">Город</th>
        <th scope="col">Комментарий</th>
        <th scope="col" style="text-align: center;">Удалить</th>
    </tr>
    </thead>
    <tbody>
    {% for comment in comments %}
    <tr>
        <th scope="row">{{ comment.id }}</th>
        <td>{{ comment.last_name }}</td>
        <td>{{ comment.first_name }}</td>
        <td>{{ comment.middle_name }}</td>
        <td>{{ comment.email }}</td>
        <td>{{ comment.phone }}</td>
        <td>{{ comment.region }}</td>
        <td>{{ comment.city }}</td>
        <td>{{ comment.text }}</td>
        <td class="exit" element="{{ comment.id }}">x</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<script>
    var e = document.querySelectorAll(".exit");
    for (var i = 0; i < e.length; i++) {
        e[i].onclick = function () {
            var el_click = this;
            var http = new XMLHttpRequest();
            http.open("DELETE", "/view/", true);
            http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            http.onreadystatechange = function () {
                if (http.readyState == 4 && http.status == 200) {
                    var server_data = JSON.parse(http.responseText);
                    if (server_data === 'ok') {
                        el_click.parentNode.remove();
                    }else{
                        alert('ERROR!')
                    }
                    is_run = false;
                }
            };
            http.send(serialize({
                'delete': this.getAttribute('element')
            }));
        };
    }
</script>
{% include 'footer.html' %}
</body>
</html>