<!DOCTYPE html>
<html lang="en">
<head>
{% include 'header.html' %}
</head>
<body>
{% include 'blocks/navbar.html' %}

{% if home %}
<h1 style="text-align: center;margin-top:40px;">ТЕСТОВОЕ ЗАДАНИЕ</h1>
{% endif %}

{% if add %}
    {% include 'blocks/add_form.html' %}
{% endif %}

{% include 'footer.html' %}
</body>
</html>