<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'header.html' %}
</head>
<body>
{% include 'blocks/navbar.html' %}
{% if stat_main %}
<h1 style="margin-top:35px;padding-left:15px;">Статистика</h1>
<table class="table" style="margin-top: 35px;">
    <thead>
    <tr>
        <th scope="col">Регион</th>
        <th scope="col">Количество комментариев</th>
    </tr>
    </thead>
    <tbody>
    {% for reg in regions %}
    <tr>
        <td><a href="/stat/{{ reg.id }}/">{{ reg.name }}</a></td>
        <td>{{ reg.count }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
{% if key %}
<h1 style="margin-top:35px;padding-left:15px;">Статистика Региона "{{ region.name }}" <a href="/stat/" class="btn btn-primary" style="position: absolute;right:15px;">Назад</a></h1>

<table class="table" style="margin-top: 35px;">
    <thead>
    <tr>
        <th scope="col">Город</th>
        <th scope="col">Количество комментариев</th>
    </tr>
    </thead>
    <tbody>
    {% for city in cites %}
    <tr>
        <td>{{ city.name }}</td>
        <td>{{ city.count }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
{% include 'footer.html' %}
</body>
</html>